@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/pt-sans-bold.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/pt-sans-italic.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/pt-sans-bold-italic.woff2") format("woff2");
    font-display: swap;
}

body {
    margin: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    background-color: #ffffff;
}

.container-main-page, .container-catalog, .page-footer {
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.button, .product-card-button {
    display: inline-block;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    color:#ffffff;
    background-color: #756157;
    text-align: center;
    text-decoration: none;
    height: 36px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #615048;
}

.button:focus {
    background-color: #615048;
}

.button:active {
    opacity: 30%;
}

.page-header-logo {
    margin: 0;
    padding: 0;
    margin-left: 70px;
    margin-right: 30px;
}

.hero-img {
    padding-top: 51px;
    padding-bottom: 82px;
}

.navigation-link {
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
}

.header-container {
    display: flex;
}

.page-header {
    display: flex;
}

.navigation {
    display: flex;
    height: 64px;
}

.navigation-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 339px;
    margin: 0;
    margin-right: 285px;
    padding: 0;
}

.navigation-user {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 88px;
}

.header-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 36px;
    margin: 14px 70px 14px 20px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("");
    position: relative;
}

.hero::after {
    position: absolute;
    content: "";
    background-image: url("../images/divider-main-page.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 1200px;
    height: 57px;
    bottom: 0;
}

.main-index {
    background-image: url("../images/background-image.jpg");
    background-size: 1200px 485px;
    background-repeat: no-repeat;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.advantages-item-container {
    width: 230px;
    padding: 102px 85px;
    min-height: 181px;
}

.advantages-item-wide {
    display: flex;
    background-color: #82b3d3;
}

.advantages-item-wide-reverse {
    flex-direction: row-reverse;
}

.thesis, .search-title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.search-title {
    margin: 0;
    padding: 0;
}

.thesis {
    margin-top: 69px;
}

.thesis-decription {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
    padding: 0;
    margin: 0;
    padding-bottom: 69px;
}

.thesis-description, .search-description {
    text-align: center;
    font-size: 22px;
    line-height: 26px;
}

.search-description {
    margin-top: 20px;
    margin-bottom: 54px;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 96px 304px;
}

.subscription-button-container {
    display: flex;
    width: 684px;
    height: 52px;
}

.subscription-form-name {
    display: flex;
    margin: 0;
    padding: 0;
}

.subscribtion-user-email {
    width: 452px;
    padding-left: 20px;
    border: none;
    border-radius: 4px 0 0 4px;
}

.subscribtion-user-email-catalog {
    background-color: #f2f2f2;
}

.subscribe-button {
    width: 232px;
    height: 52px;
    background-color: #82b3d3;
    border-radius: 0 4px 4px 0;
}

.subscribe-button:hover {
    background-color: #68a2ca;
}

.subscribe-button:focus {
    background-color: #68a2ca;
}

.subscribe-button:active {
    opacity: 30%;
}

.advantages-title, .infrastructure-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
}

.advantages-title {
    margin: 0;
    margin-bottom: 62px;
    position: relative;
}

.advantages-title::after {
    content: "";
    display: block;
    border-bottom: 2px solid #ffffff30;
    width: 60px;
    bottom: -32px;
    left: 85px;
    position: absolute;
}

.advantages-title-line::after {
    content: "";
    display: block;
    border-bottom: 2px solid #00000030;
    width: 60px;
    bottom: -32px;
    left: 85px;
    position: absolute;
}

.advantages-white {
    color: #ffffff;
}

.advantages-description, .infrastructure-description {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.advantages-description {
    margin: 0;
}

.advantages-description-white {
    color: #ffffff;
}

.advantages-item {
    list-style: none;
}

.infrastructure-item {
    list-style: none;
    width: 400px;
    padding-top: 81px;
}

.infrastructure-list {
    display: flex;
    height: 385px;
    justify-content: center;
    padding: 0;
    margin: 0;
    text-align: center;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 36px;
    width: 376px;
    height: 52px;
}

.subscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/subscription-image.jpg");
    background-size: 1200px 414,86px;
    background-repeat: no-repeat;
    padding: 96px 258px 104px;
}

.subscription-title {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.subscription-description {
    color: #ffffff;
    text-align: center;
    font-size: 22px;
    line-height: 26px;
    margin: 0;
    padding: 20px 0 54px;
}

.subscription-catalog {
    background: none;
}

.subscription-title-catalog, .subscription-description-catalog {
    color: #000000;
}

.subcribe-button {
    font-size: 20px;
    line-height: 36px;
    background-color: #0000ff;
}

.footer-phone {
    display: flex;
    font-style: normal;
    color:#000000;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    width: 720px;
}

.footer-phone:hover {
    color: #756157;
}

.footer-phone:focus {
  color: #756157;
}

.footer-phone:active {
  color: #75615730;
}

.main-inner{
    color: #ffffff;
}

.inner-header {
    padding-bottom: 40px;
}

.inner-header-title {
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
    margin: 0;
    padding: 0;
}

.breadcrumbs-container {
    display: flex;
    flex-direction: column;
}

.breadcrumbs-item {
    font-size: 16px;
    margin: 0;
    padding: 0;
    position: relative;
    margin-left: 28px;
}

.breadcrumbs-item:not(:last-of-type):after {
    position: absolute;
    content: "";
    background-image: url(../images/breadcrumbs-arrow.svg);
    background-repeat: no-repeat;
    width: 8px;
    height: 20px;
    background-size: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.breadcrumbs-item-home {
    margin: 0;
}

.catalog-filter-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
    padding-bottom: 32px;
}

.catalog-filter {
    display: flex;
}

.price-block {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    padding-right: 70px;
    width: 288px;
}

.price-container {
    padding-left: 140.15px;
}

.control-input {
    line-height: 23px;
}

.apply-button, .featured-products-button {
    background-color: #82b3d3;
}

.apply-button:hover {
    background-color: #68a2ca;
}

.apply-button:focus {
    background-color: #68a2ca;
}

.apply-button:active {
    opacity: 30%;
}

.featured-products-button:hover {
  background-color: #68a2ca;
}

.featured-products-button:focus {
  background-color: #68a2ca;
}

.featured-products-button:active {
  opacity: 30%;
}

.featured-products-button, .featured-chose-button {
    width: 140px;
    justify-self: end;
}

.reset-button {
    background: none;
    padding-top: 32px;
}

.featured-chose-button {
    background-color: #7db54f;
}

.featured-chose-button:hover {
    background-color: #6c9e42;
}

.featured-chose-button:focus {
    background-color: #6c9e42;
}

.featured-chose-button:active {
    opacity: 30%;
}

.product-card-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    padding: 0;
    margin: 0;
}

.product-price {
    text-align: right;
    padding: 0;
    margin: 0;
}

.rating {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 37px;
    background-color: #f2f2f2;
    justify-self: end;
}

.pagination {
    display: flex;
    margin: 0;
    padding: 40px 70px 60px;
}

.pagination-item {
    height: 60px;
    width: 60px;
    border-radius: 4px;
    background-color: #82b3d3;
    list-style: none;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-link {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.pagination-link-current, .pagination-link-dots {
    color: #000000;
}

.pagination-item-current {
    height: 60px;
    width: 60px;
    list-style: none;
    background-color: #f2f2f2;
    border-radius: 4px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-item-dots {
    height: 60px;
    width: 60px;
    list-style: none;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    margin-right: 41.5px;
}

.footer-social-item {
    display: flex;
    width: 47.33px;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.footer-container {
    display: flex;
    height: 50px;
    margin: 40px 70px 30px;
    justify-content: space-between;
}

.filter-container {
    background-image: url("../images/filter-background.jpg");
    background-size: 1200px 412px;
    background-repeat: no-repeat;
    padding: 35px 70px 70px;
}

.breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.catalog-filter-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.catalog-filter-item {
    padding-bottom: 16px;
}

.catalog-filter-group {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 150.43px;
    height: 157px;
    border: none;
}

.catalog-filter-group-infrastructure {
    padding-right: 70px;
}

.filter-buttons {
    display: flex;
    flex-direction: column;
    width: 191px;
    padding-top: 56px;
}

.select-container {
    display: flex;
    color: #000000;
    margin: 0;
    padding: 50px 70px 40px;
    height: 49px;
}

.select-result {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    width: 538px;
}

.select-control {
    width: 292px;
    border: 2px solid #e5e5e5;
    border-radius: 4px;
    padding: 12px 18px;
    appearance: none;
    background-image: url("../images/arrow-select.svg");
    background-repeat: no-repeat;
    background-position: right 20px center;
    padding-right: 35px;
}

.select-control:hover {
    border-color: #68a2ca;
}

.select-control:focus {
    border-color: #68a2ca;
    outline: none
}

.select-control:active {
    border-color: #3f5e72;
    outline: none;
}

.cards-button-container {
    display: flex;
    padding-left: 70px;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.card-button {
    background: none;
}
.product-list {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: 340px 340px 340px;
    gap: 20px;
    padding-right: 70px;
    padding-left: 70px;
    margin-bottom: 40px;
    position: relative;
}

.product-list::after {
    position: absolute;
    border: 1px solid #e6e6e6;
    content: "";
    width: 1060px;
    left: 70px;
    top: 946.5px;
}

.product-card {
    display: grid;
    grid-template-columns: 150px 150px;
    color: #000000;
    padding: 20px;
    row-gap: 16px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
}

.hotel {
    margin: 0;
    padding: 0;
}

.product-card-link {
    grid-column: 1 / -1;
}

.product-card-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
}

.product-card-image {
    padding-bottom: 16px;
}

.navigation-link-current {
    position: relative;
}

.navigation-link-current::after {
    position: absolute;
    content: "";
    right: 0;
    left: 0;
    bottom: -22px;
    height: 2px;
    background-color:  #756257;
}

.navigation-user-item {
    position: relative;
}

.basket-circle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #7db54f;
    right: -8px;
    top: -11px;
}

.basket-number {
    position: absolute;
    font-size: 10px;
    line-height: 10px;
    color: #ffffff;
    font-weight: 400;
    right: -3px;
    top: -6px;
}

.advantages-item-road {
    background-color: #83b3d320;
}

.advantages-item-light {
    background-color: #83b3d312;
}

.infrastructure-item-dark {
    background-color: #83b3d312;
}

.footer-social-item-vk {
    position: relative;
}

.footer-social-item-vk::before {
    position: absolute;
    content: "";
    background-image: url("../images/social-vk.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 48px;
    height: 28px;
    top: 0;
}

.footer-social-item-tg {
    position: relative;
}

.footer-social-item-tg::before {
    position: absolute;
    content: "";
    background-image: url("../images/social-tg.svg");
    background-repeat: no-repeat;
    width: 18px;
    height: 16px;
}

.footer-social-item-yt {
    position: relative;
}

.footer-social-item-yt::before {
    position: absolute;
    content: "";
    background-image: url("../images/social-youtube.svg");
    background-repeat: no-repeat;
    width: 22px;
    height: 17px;
}

.star-card {
    background-image: url("../images/star-rating.svg");
    background-repeat: no-repeat;
    width: 18px;
    height: 17px;
    margin-right: 6px;
}

.rating-area {
    display: flex;
    flex-direction: row;
    align-items: center;
}
